<%= render partial: 'application/header_nav' %>
<div class="row">
	<div class="span8">
		<ul class="nav nav-list grid3 bbox">
			<li class="nav-header">Channels</li>
			<li>
				<a href='/restaurants'><i class='icon-food pr5'></i>Restaurants</a>
			</li>
			<li>
				<a href="#"><i class='icon-plane pr5'></i>Travel</a>
			</li>
			<li>
				<a href="#"><i class='icon-gear pr5'></i>Electronics</a>
			</li>
			<li>
				<a href="#"><i class='icon-female pr5'></i>Cosmetics</a>
			</li>
			<li>
				<a href="#"><i class='icon-book pr5'></i>Books</a>
			</li>
			<li>
				<a href="#"><i class='icon-calendar pr5'></i>Events</a>
			</li>
			<li>
				<a href="#"><i class='icon-wrench pr5'></i>Services</a>
			</li>
		</ul>
		<div class='grid9'>
		</div>
	</div>
	<div class='span4'></div>
</div>