<h4>Categories</h4>
<nav class='clearfix'>
	<ul class='unstyled grid2'>
		<li><a>Afghan</a></li>
		<li><a>African</a></li>
		<li><a>American (New)</a></li>
		<li><a>American (Traditional)</a></li>
		<li><a>Arabian</a></li>
		<li><a>Argentine</a></li>
		<li><a>Armenian</a></li>
		<li><a>Asian Fusion</a></li>
		<li><a>Australian</a></li>
		<li><a>Austrian</a></li>
		<li><a>Bangladeshi</a></li>
		<li><a>Barbeque</a></li>
		<li><a>Basque</a></li>
		<li><a>Belgian</a></li>
		<li><a>Brasseries</a></li>
		<li><a>Brazillian</a></li>
		<li><a>Breakfast & Brunch</a></li>
		<li><a>British</a></li>
		<li><a>Buffets</a></li>
		<li><a>Burgers</a></li>
	</ul>
	<ul class='unstyled grid2'>
		<li><a>Burmese</a></li>
		<li><a>Cafes</a></li>
		<li><a>Cafeteria</a></li>
		<li><a>Cajun/Creole</a></li>
		<li><a>Cambodian</a></li>
		<li><a>Cantonese</a></li>
		<li><a>Caribbean</a></li>
		<li><a>Catalan</a></li>
		<li><a>Cheesesteaks</a></li>
		<li><a>Chicken Wings</a></li>
		<li><a>Chinese</a></li>
		<li><a>Colombian</a></li>
		<li><a>Comfort Food</a></li>
		<li><a>Creperies</a></li>
		<li><a>Cuban</a></li>
		<li><a>Czech</a></li>
		<li><a>Delis</a></li>
		<li><a>Dim Sum</a></li>
		<li><a>Diners</a></li>
		<li><a>Dominican</a></li>
	</ul>
	<ul class='unstyled grid2'>
		<li><a>Egyptian</a></li>
		<li><a>Ethiopian</a></li>
		<li><a>Fast Food</a></li>
		<li><a>Filipino</a></li>
		<li><a>Fish & Chips</a></li>
		<li><a>Fondue</a></li>
		<li><a>Food Court</a></li>
		<li><a>Food Stands</a></li>
		<li><a>French</a></li>
		<li><a>Gastropubs</a></li>
		<li><a>German</a></li>
		<li><a>Gluten-Free</a></li>
		<li><a>Greek</a></li>
		<li><a>Haitian</a></li>
		<li><a>Halal</a></li>
		<li><a>Hawaiian</a></li>
		<li><a>Himalayan/Nepalese</a></li>
		<li><a>Hot Dogs</a></li>
		<li><a>Hot Pot</a></li>
		<li><a>Hungarian</a></li>
	</ul>
	<ul class='unstyled grid2'>
		<li><a>Iberian</a></li>
		<li><a>Idian</a></li>
		<li><a>Indonesian</a></li>
		<li><a>Irish</a></li>
		<li><a>Italian</a></li>
		<li><a>Japanese</a></li>
		<li><a>Korean</a></li>
		<li><a>Kosher</a></li>
		<li><a>Laotian</a></li>
		<li><a>Latin American</a></li>
		<li><a>Lebanese</a></li>
		<li><a>Live/Raw Food</a></li>
		<li><a>Malaysian</a></li>
		<li><a>Mediterranean</a></li>
		<li><a>Mexican</a></li>
		<li><a>Middle Eastern</a></li>
		<li><a>Modern European</a></li>
		<li><a>Mongolian</a></li>
		<li><a>Moroccan</a></li>
		<li><a>Dominican</a></li>
	</ul>
	<ul class='unstyled grid2'>
		<li><a>Pakistani</a></li>
		<li><a>Persian/Iranian</a></li>
		<li><a>Peruvian</a></li>
		<li><a>Pizza</a></li>
		<li><a>Polish</a></li>
		<li><a>Portuguese</a></li>
		<li><a>Puerto Rican</a></li>
		<li><a>Russian</a></li>
		<li><a>Salad</a></li>
		<li><a>Salvadoran</a></li>
		<li><a>Sandwiches</a></li>
		<li><a>Scandinavian</a></li>
		<li><a>Scottish</a></li>
		<li><a>Seafood</a></li>
		<li><a>Senegalese</a></li>
		<li><a>Shanghainese</a></li>
		<li><a>Singaporean</a></li>
		<li><a>Slovakian</a></li>
		<li><a>Soul Food</a></li>
	</ul>
	<ul class='unstyled grid2'>
		<li><a>Soup</a></li>
		<li><a>South African</a></li>
		<li><a>Southern</a></li>
		<li><a>Spanish</a></li>
		<li><a>Steakhouses</a></li>
		<li><a>Sushi Bars</a></li>
		<li><a>Szechuan</a></li>
		<li><a>Taiwanese</a></li>
		<li><a>Tapas Bars</a></li>
		<li><a>Tapas/Small Plates</a></li>
		<li><a>Tex-Mex</a></li>
		<li><a>Thai</a></li>
		<li><a>Trinidadian</a></li>
		<li><a>Turkish</a></li>
		<li><a>Ukrainian</a></li>
		<li><a>Vegan</a></li>
		<li><a>Vegetarian</a></li>
		<li><a>Venezuelan</a></li>
		<li><a>Vietnamese</a></li>
	</ul>
</nav>