<div class='container'>
	<div class='pull-right'>
		<ul class='nav nav-pills'>
			<li class='active mr5'>
				<a href='/'>Home</a>
			</li>
			<li class='mr5'>
				<a href='#'>Ranking</a>
			</li>
			<li class='mr5'>
				<a href='#'>What is Hot!</a>
			</li>
			<li class='mr5'>
				<a href='#'>Treats</a>
			</li>
			<li class='mr5'>
				<a href='#'>Coupons</a>
			</li>
			<li class='mr5'>
				<a href='#'>Rewards</a>
			</li>
			<li class='mr10'>
				<a href='#'>Treats</a>
			</li>
		</ul>
	</div>
</div>
<div class='container'>
	<div class='navbar'>
		<div class='navbar-inner pt5 pb5'>
			<form class='navbar-form pull-left'>
  				<input type='text' class='input-medium' placeholder='keyword'>
  				<input type='text' placeholder='location'>
  				<button type='submit' class='btn'><i class='icon-search'></i></button>
			</form>
			<div class='pull-right'>
				<a class='btn mr5'>Add a Merchant</a>
			
				<a class='btn mr5'>Write a Review</a>
		
				<a class='btn btn-primary'>Plan a Trip</a>
			</div>
		</div>
	</div>
</div>