<div class='clearfix'>
	<ul class='list-unstyled pull-right' role='navigation'>
		<li class='col-xs-4 col-sm-0'><a href='/' class='btn btn-primary'>Home</a></li>
		<li class='col-xs-4 col-sm-0 col-md-13'><a href='#' class='btn'>Trend</a></li>
		<li class='col-xs-4 col-sm-0 col-md-13'><a href='#' class='btn'>Treats</a></li>
		<li class='col-xs-4 col-sm-0 col-md-13'><a href='#' class='btn'>Coupons</a></li>
		<li class='col-xs-4 col-sm-0 col-md-13'><a href='#' class='btn'>Ranks</a></li>
		<li class='col-xs-4 col-sm-0 col-md-13'><a href='#' class='btn'>Rewards</a></li>
	</ul>
</div>
	