<div class='navbar navbar-default app-header-search-navbar'>
	<div class='navbar-header'>
		<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.app-header-search-menu'>
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<div class='collapse navbar-collapse app-header-search-menu clearfix'>
		<form class='navbar-form navbar-left form-inline' role='search'>
			<div class='form-group'>
				<label class='sr-only' for='keywords'>Key Words</label>
				<input type='text' class='form-control' name='keywords' placeholder='Key Words'>
			</div>
			<div class='form-group'>
				<label class='sr-only' for='location'>Location</label>
				<input type='text' class='form-control' name='location' placeholder='Location'>
			</div>
			<button type='submit' class='btn btn-default'><span class='icon-search'></button>
		</form>
		<ul class='nav navbar-nav app-header-search-links' role='navigation'>
			<li><a href='#' class='btn btn-default'>Add a Merchant</a></li>
			<li><a href='#' class='btn btn-default'>Write a Review</a></li>
			<li><a href='#' class='btn btn-default'>Plan a Trip</a></li>
		</ul>
	</div>
</div>
